.btnSair {
    border: none;
    background-color: #fff;
    margin-right: -80px; /* Adiciona um espaçamento à direita */
    overflow: hidden;
}

.btnSair:hover {
    transform: translateY(-1px);
}

.btnLogo {
    max-width: 250px;
    margin-left: -40px; /* Adiciona um espaçamento à esquerda */
    overflow: hidden;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0; /* Remove qualquer padding adicional */
}

/* Adiciona um fundo azul cobrindo toda a área ao redor do header */
.header-wrapper {
    background-color: rgba(0, 0, 255, 0); /* Define a cor como transparente */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px; /* Ajuste a altura para que a área ao redor do header seja coberta */
    z-index: 999;
    backdrop-filter: blur(10px); /* Aplica o efeito de blur */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com navegadores WebKit (Safari, etc.) */
}

@media (max-width: 1080px) {
    .btnLogo{
        margin-left: 15px;  
        
    }
    .btnSair{
        margin-left: -15px;   
    }
}

@media (max-width: 768px) {
    .btnLogo{
        margin-left: 15px;  
        max-width: 175px;
    }
    .btnSair{
        margin-left: -15px;   
    }
}
