body{
    font-familY: 'Roboto', sans-serif;
}
.contain{
    display: flex;
    justify-content: center;
    //align-items: center;
    height: 100vh;
}
.contain-container{
    //margin-left: 300px; /*afasta da sidebar*/
    //padding: 20px;
    box-sizing: border-box;
}

.main-cntt{
    //display: flex;
    //justify-content: center;
    padding: 20px;
    margin: 0 0 0 65px;
    //margin-left: 70px;
    //margin-right: 5px;
    align-items: center;
    //background-color: #f8f9fa;
    width: 96%;
    position: relative;
}
.content-box{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 1.5rem;
    //max-width: 100%;
    //margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #3A57E8;
    outline: none;
}
textarea {
    height: 120px;
    resize: vertical;
}
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px; /* Espaçamento entre os campos */
    margin-bottom: 15px;
}

.form-row > div {
    flex: 1;
}

.form-row > div:nth-child(2) {
    margin-left: 15px; /* Espaçamento entre os dois campos */
}
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    //background-color: #0056b3;
    transform: translateY(-1px);
}
/*
.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
}*/

.table-responsive{
    //overflow-x: auto;
}

.table{
    width: 97%;
    //border-collapse: separate;
    border-collapse: collapse;
    //border-spacing: 0;
    border-radius: 15px;
    border-spacing: 5px;
    overflow: hidden;
    background-color: #fff;
    //margin-top: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
    //margin: 20px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    //margin-bottom: 1rem;
}
.table th{
    color: white !important;
}
.table th,
.table td {
    padding: 12px; /* Ajuste o padding conforme necessário */
    text-align: left;
    border-borrom: 1px solid #ddd;
    color: #717171;
}

.table thead th {
    background-color: #3A57E8;
    
}


.table td,
.table th {
    border-bottom: 1px solid #ddd; /* Borda inferior das células */
}

/* Estilos para o pop-up */
.modal {
    position: fixed;
    /* z-index: 1000; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6); /* Fundo escuro com opacidade */
}

.modal-content {
    //background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 700px;
    width: 80%;
    border-radius: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.userForm {
    display: flex;
    flex-direction: column; /* Alinha os itens em colunas */
    gap: 10px; /* Espaçamento entre as linhas */
}

.userForm div{
    //background-color: #f0f0f0;
    display: flex;
    justify-content: space-between; /* Espaça o label e o input uniformemente */
    align-items: center; /* Alinha verticalmente o label e o input */
    padding: 5px;
}

.userForm label {
    flex-basis: 150px; /* Largura fixa para os labels */
    margin: 0; /* Remove margens padrão */
    font-weight: bold; /* Opcional: deixa o label em negrito */
}

.userForm input {
    width: 100%; /* Faz com que o input ocupe toda a largura disponível da coluna */
        padding: 5px; /* Espaçamento interno */
        box-sizing: border-box; /* Inclui padding e borda no tamanho total do input */
        border: none; /* Remove a borda */
        background-color: #fff; /* Fundo branco para os inputs */
}

/* Cards Área de Trabalho - Gerente*/
.card-columns {
    display: flex;
    gap: 75px; /* Espaçamento entre os cards */
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 400px; /* Ajuste conforme necessário */
    height: 300px; /* Ajuste conforme necessário */
    border: 0px solid #ddd;
    border-radius: 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.btnAdd {
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed gray;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    color: gray;
    font-size: 18px;
}

.btnAdd:hover {
    border-color: #0d6efd;
    color: #0d6efd;
}

.card:hover {
    transform: translateY(-8px);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.action-icons {
    display: flex;
    justify-content: space-between;
    //margin: 3px;
    border: 1px;
}








@media (max-width: 1080px) {
    .table th:nth-child(1),
    .table td:nth-child(1),
    .table th:nth-child(4),
    .table td:nth-child(4),
    .table th:nth-child(5),
    .table td:nth-child(5),
    .table th:nth-child(6),
    .table td:nth-child(6) {
        display: none; /* Oculta a coluna */

        .table {
            font-size: 13px; /* Reduz o tamanho da fonte para telas menores */
        }
        .action-icons a,
        .action-icons form {
            font-size: 15px;

        }
        .delete-button{
            font-size: 15px;
        }
        .card-columns {
            flex-direction: column; /* Exibe os cards em uma única coluna */
            align-items: flex-start;
        }
        .card {
            flex: 1 1 calc(100% - 40px); /* 2 colunas para telas menores */
            max-width: 96%;
        }
    

    }

@media (max-width: 768px) {
    .table th:nth-child(1),
    .table td:nth-child(1),
    .table th:nth-child(4),
    .table td:nth-child(4),
    .table th:nth-child(5),
    .table td:nth-child(5),
    .table th:nth-child(6),
    .table td:nth-child(6) {
        display: none; /* Oculta a coluna */
    }
    .table th:nth-child(7),
    .table td:nth-child(7){
        margin: 1px;
    }
    .btnAdd{
        margin-left: 1px;
        margin-right: 1px;
        width: calc(100% - 15px);
    }

    .table {
        font-size: 12px; /* Reduz o tamanho da fonte para telas menores */
        margin: 1px;
        width: calc(100% - 20px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
        
    }

    .table th, .table td {
        
        padding: 8px; /* Ajusta o padding para telas menores */
    }
    .main-cntt{
        width: 92%;
    }
    .action-icons a,
    .action-icons form {
        font-size: 14px;

    }
    .delete-button{
        font-size: 14px;
    }
    .card {
        flex: 1 1 calc(100% - 40px); /* 1 coluna para telas pequenas */
    }
    #btnAdd{
        width: calc(100% - 20px);
        margin: 60px auto; /* Centraliza horizontalmente dentro do card */
        position: static; /* Remove a posição absoluta */
        transform: none; /* Remove qualquer transformação */
    }
    .form-row {
        flex-direction: column; /* Muda a direção dos itens para coluna */
    }
    
    .form-row .form-group {
        width: 100%; /* Garante que os campos ocupem toda a largura disponível */
        //margin-bottom: 15px; /* Adiciona espaçamento inferior para campos */
    }
}
